@import 'tailwindcss';

@theme {
  /* Color Scheme */
  --color-*: initial;

  --color-shade-01: #ffffff;
  --color-shade-02: #222222;
  --color-shade-02-5: rgba(34, 34, 34, 0.05);
  --color-shade-02-30: rgba(34, 34, 34, 0.3);

  --color-neutral-01: #f7f7f7;
  --color-neutral-02: #ebebeb;
  --color-neutral-03: #dddddd;
  --color-neutral-04: #d3d3d3;
  --color-neutral-05: #c2c2c2;
  --color-neutral-06: #b0b0b0;
  --color-neutral-07: #717171;
  --color-neutral-08: #5e5e5e;

  --color-primary-01: #f6475f;
  --color-primary-02: #ff385c;

  /* Gradient Theme */
  --color-gradient-01: linear-gradient(to right, #ff6b6b, #ee5a6f);
  --color-gradient-02: linear-gradient(to right, #e61e4d 0%, #e31c5f 50%, #d70466 100%);
  --color-gradient-03: linear-gradient(to right, #e84393, #d6368f);

  --color-error-01: #fef8f6;
  --color-error-02: #c13515;

  --color-accent-01: #f6d7df;
  --color-accent-02: #d03660;
  --color-discount: #008a05;
  --color-link: #004cc4;

  /* Border Radius */
  --radius-default: 8px;
  --radius-cta: 9999px;
}

@layer utilities {
  /* Gradient Classes */
  .bg-gradient-01 {
    background: var(--color-gradient-01);
  }

  .bg-gradient-02 {
    background: var(--color-gradient-02);
  }

  .bg-gradient-03 {
    background: var(--color-gradient-03);
  }
}

@layer base {
  button:not(:disabled),
  [role='button']:not(:disabled) {
    cursor: pointer;
  }
}

body {
  font-family: 'Roboto', sans-serif;
}
